data/resources/textures/** filter=lfs diff=lfs merge=lfs -text
data/resources/textures/skybox/*.png filter=lfs diff=lfs merge=lfs -text
data/resources/textures/*.png filter=lfs diff=lfs merge=lfs -text
data/resources/models/*.bin filter=lfs diff=lfs merge=lfs -text
